body {
    background-color: lightgray;
}

hr {
    border: none;
    height: 1px;
    /* Set the hr color */
    color: gray;
    /* old IE */
    background-color: gray;
    /* Modern Browsers */
}

li {
    margin-left: -25px;
}

input[type=password]{
    border-right: 0;
}

#pass-peek{
    border-left:0;
    background: inherit;   
}